:root {

    /* colors */
    --background-color: #f0f0f0;
    --primary-red: #B54141;
    --secoundary-red: #883838;
    --primary-white: #f0f0f0;
    --primary-black: #333;

    --primary-grey: #646464;
    --secoundary-grey: #D9D9D9;
    --buy-red: #F55454;
    --buy-white: #f0f0f0;
    --populer-yellow: #FFE632;

    /* font-size */
    --phoneTitle-size: 30px;
    --phone-product-title: 20px;
    --phone-product-buy: 15px;
    --phone-product-price: 10px;

    /* Font size */


}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.MainContainer {
    width: 100%;
    margin: 0 auto;

}

/* ================ Header ================ */

.header {
    background-color: var(--primary-red);
    color: #fff;
    padding: 10px 0;
}

.header hr {
    width: 60%;
    border: 3px solid var(--secoundary-red);
}

#title {
    margin: 0;
    padding: 0;
    font-style: extra-bold;
    text-align: center;
    color: #fff;


}

#search-basket-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.bi-cart {
    font-size: 25px;
    font-weight: 700;
    color: #333;
    cursor: pointer;
}

.bi-cart:hover {
    color: #f0f0f0;
}

#search {
    display: flex;
}

#search input[type="text"] {
    width: 30vw;
    height: 3vh;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 3px;
}


.menuIcon i {
    color: #333;
    font-size: 30px;
    font-weight: 900;

}

.menuIcon i:hover {
    color: var(--primary-white);
    cursor: pointer;
}

/* ================ Menu ================ */

#menu {
    display: none;
    justify-content: center;
    margin-top: 10px;
    display: flex;
}

Button {
    background: none;
    border: none;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin: 0 25px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu li a:hover {
    color: #007BFF;
}


/* ================ Shop ================ */

.shop {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 320px);
    gap: 20px;
    margin: 0 auto;
    margin-top: 20px;
}

@media (min-width: 820px) {
    .shop {
        grid-template-columns: repeat(2, 330px);
        width: 320px;
    }
}

@media (min-width: 1920px) {
    .shop {
        grid-template-columns: repeat(3, 330px);
        width: 320px;
    }
}


.item {
    background-color: var(--primary-grey);
}

.item img {
    margin: 15px;
    height: 110px;

}

.details {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

/* Can use the class text to make it in to a row therfore the image and details can co-exist */
/* Fix the margin so the title is center */
.details h3 {
    font-size: var(--phone-product-title);
    color: var(--primary-black);
    background-color: var(--secoundary-grey);

    text-align: center;

    width: 143px;
    height: 26px;

    margin-top: 0;
    /* Dose not reach the top of the img and is under it buy a sizeble amount */
}


.price-buy p {
    font-size: var(--phone-product-price);
    color: var(--buy-white);
    font-style: extra-bold;

    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10 auto;
    /* width: calc(74px - 51.91px/2px) calc(74px - 51.91px/2px);  */

}

.price-buy button {

    background-color: var(--buy-red);
    color: var(--primary-white);

    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    width: 74px;
    height: 26px;
}

.price-buy button:hover {
    background-color: #f0f0f0;
    color: var(--buy-red);

    cursor: pointer;

    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* ================ Cart ================ */
/* Cart position */
.cart {
    background-color: var(--primary-grey);
    /* Replace with your desired color */
    width: 400px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid black;
}

/* Cart style */
.cartTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: relative;
}

.bi-arrow-90deg-right {
    color: #B54141;
    font-size: 30px;
    cursor: pointer;
    
}

.cartItem img {
    width: 100px;
    padding: 5px;
}

.cartOut {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    gap: 15px;
}

.cartItem {
    border: 3px solid #333;
    background-color: var(--primary-white);
    border-radius: 5px;
    display: flex;
}

.cartName {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red;  */

}

.bi-x-lg {
    color: var(--primary-red);
    font-weight: bold;
}

/* Style for button in cart */

.buttons {
    display: flex;
    gap: 5px;
}

.amount {
    padding: 1px;
    border-radius: 5px;
    border: 1px solid var(--primary-black);
}

.bi-dash-lg {
    color: var(--primary-red);
    font-weight: bold;
    cursor: pointer;
}

.bi-plus-lg {
    font-weight: bold;
    cursor: pointer;
}

.bi-x-lg {
    color: var(--primary-red);
    font-weight: bold;
    cursor: pointer;
}