:root {

    /* colors */
    --background-color: #f0f0f0;
    --primary-red: #B54141;
    --secoundary-red: #883838;
    --primary-white: #f0f0f0;
    --primary-black: #333;

    --primary-grey: #646464;
    --secoundary-grey: #D9D9D9;
    --buy-red: #F55454;
    --buy-white: #f0f0f0;
    --populer-yellow: #FFE632;

    /* font-size */
    --phoneTitle-size: 30px;
    --phone-product-title: 20px;
    --phone-product-buy: 15px;
    --phone-product-price: 10px;

}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

Button {
    background: none;
    border: none;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* ================ Header ================ */

.header {
    background-color: var(--primary-red);
    color: #fff;
    padding: 0.625em 0;
    display: grid;
    grid-template-areas:
        "title title title"
        "devider devider devider"
        "item1 item2 item3";
}

.header hr {
    /* Position */
    grid-area: devider;

    /* Style */
    width: 60%;
    border: 3px solid var(--secoundary-red);
}

.title {
    grid-area: title;
}

.title h1 {
    /* Position */
    padding: 0;

    /* Font style */
    font-style: extra-bold;
    text-align: center;
    color: #fff;
}

.cartIcon {
    /* Position */
    grid-area: item2;
    margin: auto 20px;
    display: flex;
    justify-content: center;
}

.cartIcon i {
    font-size: 2em;
    font-weight: 700;

}

.bi-cart {
    color: #333;
    cursor: pointer;

}

.bi-cart:hover {
    color: #f0f0f0;
}

.menuIcon {
    /* Position */
    grid-area: item3;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto 20px;
}

.bi-list {
    /* Position */
    grid-area: item3;

    color: #333;
    font-size: 4em;
    font-weight: 900;

}

.bi-list :hover {
    color: var(--primary-white);
    cursor: pointer;
}

.search {
    display: flex;
    margin: auto;
    width: 70%;
    height: 70%;
}

.search input[type="text"] {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 0.5em;
    width: 100%;
}

.search button {
    font-size: 1em;
    background-color: var(--secoundary-red);
}

/* ================ Menu ================ */

.menu {
    display: none;
    justify-content: center;
    background-color: #fff;

    background-color: var(--secoundary-grey);

}

.menu ul {
    display: table;
    list-style-type: none;
    display: flex;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1em;
    margin: 0 2em
}

.menu li a:hover {
    color: #007BFF;
}

/* ================ Footer ================ */
.footer {
    position: relative;
    background-color: var(--primary-red);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.signup h2 {
    font-size: 1em;
}

.signup {
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.signup input {
    background-color: transparent;
    color: var(--primary-white);
    border: 1px solid var(--buy-white);
    border-radius: 3px;
}

.signup ::placeholder {
    color: var(--primary-white);
}

.signup button {
    width: 120px;
    background-color: #3B71CA;
    color: var(--buy-white);
    border: none;
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}

.copyRight {
    background-color: var(--secoundary-red);
    width: 100%;
    text-align: center;
}

/* ================ Shop ================ */


.shop {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 80%);
    gap: 2em;
    margin: 2em auto;
}

.item {
    background-color: var(--primary-grey);
    padding: 1em;
}

.item img {
    aspect-ratio: 1;
    width: 30%;
}

.popular-tag {
    position: absolute;
    background-color: var(--populer-yellow);
    color: var(--primary-black);
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 5px;
    width: 10%;
    margin: 0.5em 0;
    text-align: center;
    z-index: 2;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text {
    width: 50%;
}

/* Can use the class text to make it in to a row therfore the image and details can co-exist */
/* Fix the margin so the title is center */
.details h3 {
    font-size: var(--phone-product-title);
    color: var(--primary-black);
    background-color: var(--secoundary-grey);
    text-align: center;
    margin-top: 0;
    /* Dose not reach the top of the img and is under it buy a sizeble amount */
}

.price-buy p {
    font-size: var(--phone-product-price);
    color: var(--buy-white);
    font-style: extra-bold;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    width: 30%;
}

.price-buy button {
    background-color: var(--buy-red);
    color: var(--primary-white);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40%;
    height: 2em;
}

.price-buy h2 {
    font-size: 1em;
}

.price-buy button:hover {
    background-color: #f0f0f0;
    color: var(--buy-red);
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* ================ Cart ================ */
/* Cart position */
.cart {
    display: none;
    background-color: var(--primary-grey);
    /* Replace with your desired color */
    width: 100%;
    max-width: 400px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border: 4px solid black;
}

/* Cart style */
.cartTitle {
    display: flex;
}

.bi-arrow-90deg-right {
    color: #B54141;
    font-size: 30px;
    cursor: pointer;
}

.cartItem img {
    width: 100px;
    aspect-ratio: 1/1;
    padding: 5px;
}

.cartOut {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    gap: 15px;
}

.cartItem {
    border: 3px solid #333;
    background-color: var(--primary-white);
    border-radius: 5px;
    display: flex;
}

.cartName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    width: 190px;
}

.bi-x-lg {
    color: var(--primary-red);
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}
.cartName i {
    font-size: 20px;
}

/* Style for button in cart */

.buttons {
    display: flex;
    gap: 5px;
}

.amount {
    padding: 1px;
    border-radius: 5px;
    border: 1px solid var(--primary-black);
    font-size: 20px;
}

.bi-dash-lg {
    color: var(--primary-red);
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.bi-plus-lg {
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.bi-x-lg {
    color: var(--primary-red);
    font-weight: bold;
    cursor: pointer;
    font-size: 10px;
}

/* ================ TotalPriceStyle ================ */
.totalPrice {
    background-color: var(--buy-white);
    border: 2px solid var(--primary-black);
    border-radius: 5px;
    width: 320px;
    padding: 5px 0;
    margin-top: 1em;
}   

.totalPrice h3 {
    margin: 0.8em;
}

/* ================ Media Queries ================ */

@media (min-width: 820px) {
    .menu li a {
        font-size: 30px;
        margin: 0 40px;
    }

    .shop {
        grid-template-columns: repeat(2, 33%);
    }

    .item img {
        min-width: 220px;
        width: 60%;
        aspect-ratio: 1;
    }

    .details {
        padding: 0;
        flex-direction: column;
    }

    .text {
        display: flex;
        flex-direction: column;
        min-height: 60px;
        height: 7vh;
        width: 80%;
        margin-top: 1em;
    }

    .text h3 {
        background-color: var(--primary-grey);
        font-size: 30px;
        text-align: left;
        margin: 0
    }

    .price-buy {
        display: flex;
    }

    .price-buy button {
        order: 2;
        margin: -1em 0 auto auto;
        font-size: 20px;
    }

    .price-buy p {
        order: 1;
        text-align: left;
        font-size: 20px;
        margin: 0;
        min-width: 60px;
    }

    .signup {
        flex-direction: row;
        max-width: 100%;
        gap: 10vw;
        padding: 1em 0;
    }

    .signup h2 {
        font-size: 1.3em;
    }

    .signup input {
        width: 20vw;
        min-width: 250px;
        height: 3vh;
        margin: auto;
        font-size: 1em;
    }

    .signup button {
        height: 3vh;
        min-width: 100px;
        width: 6vw;
        font-size: 1.2em
    }
}

@media (min-width: 1024px) {
    .header {
        display: flex;
        justify-content: space-between;
        height: 100%;
        max-height: 100px;
    }

    .header hr {
        display: none;
    }

    .title {
        order: 2;
        font-size: 1em;
    }

    .menuIcon {
        order: 1;
        margin: auto 0;
    }

    .search {
        order: 3;
        width: 30%;
        margin: auto 0;
    }

    .search input[type="text"] {
        border: 2px solid #333;
        border-radius: 3px;
        padding: 1em;
        font-size: 1.2em;
        width: 100%;
    }

    .cartIcon {
        order: 4;
    }

    .cartIcon i {
        font-size: 4em;
        font-weight: 700;
    }

    .shop {
        grid-template-columns: repeat(3, 30%);
    }

    .item img {
        width: 60%;
        align-items: center;
    }

    .text {
        width: 65%;
    }

    .price-buy button h2 {
        font-size: 1em;
        min-width: 80px;
    }
}